<?xml version="1.0"?>
<config>
    <modules>
        <LeonamBernini_TimerBanner>
            <version>1.0.1</version>
        </LeonamBernini_TimerBanner>
    </modules>
    
    <frontend>
        <routers>
            <timerbanner>
                <use>standard</use>
                <args>
                    <module>LeonamBernini_TimerBanner</module>
                    <frontName>timerbanner</frontName>
                </args>
            </timerbanner>
        </routers>
        <translate>
            <modules>
                <LeonamBernini_TimerBanner>
                    <files>
                        <default>LeonamBernini_TimerBanner.csv</default>
                    </files>
                </LeonamBernini_TimerBanner>
            </modules>
        </translate>
        <layout>
            <updates>
                <timerbanner>
                    <file>leonambernini/timerbanner.xml</file>
                </timerbanner>
            </updates>
        </layout>
    </frontend>
    
    <adminhtml>
        <layout>
            <updates>
                <leonambernini>
                    <file>timerbanner/timerbanner.xml</file>
                </leonambernini>
            </updates>
        </layout>
        
        <translate>
            <modules>
                <LeonamBernini_TimerBanner>
                    <files>
                        <default>LeonamBernini_TimerBanner.csv</default>
                    </files>
                </LeonamBernini_TimerBanner>
            </modules>
        </translate>
        
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <timerbanner>
                                            <title>TimerBanner Settings - NEX</title>
                                        </timerbanner>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        
    </adminhtml>
    
    <global>
        <models>
            <timerbanner>
                <class>LeonamBernini_TimerBanner_Model</class>
                <resourceModel>timerbanner_mysql4</resourceModel>
            </timerbanner>
            <timerbanner_mysql4>
                <class>LeonamBernini_TimerBanner_Model_Mysql4</class>
                <entities>
                    <timerbanner>
                        <table>lb_timerbanner</table>
                    </timerbanner>
                    <reports>
                        <table>lb_timerbanner_report</table>
                    </reports>
                </entities>
            </timerbanner_mysql4>
        </models>
        <resources>
            <timerbanner_setup>
                <setup>
                    <module>LeonamBernini_TimerBanner</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </timerbanner_setup>
            <timerbanner_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </timerbanner_write>
            <timerbanner_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </timerbanner_read>
        </resources>
        <blocks>
            <timerbanner>
                <class>LeonamBernini_TimerBanner_Block</class>
            </timerbanner>
        </blocks>
        <helpers>
            <timerbanner>
                <class>LeonamBernini_TimerBanner_Helper</class>
            </timerbanner>
        </helpers>
    </global>
    
    <default>
        <timerbanner>
            <general>
                <enable>0</enable>
            </general>
        </timerbanner>
    </default>
    
    <admin>
        <routers>
            <timerbanner>
                <use>admin</use>
                <args>
                    <module>LeonamBernini_TimerBanner</module>
                    <frontName>timerbanner</frontName>
                </args>
            </timerbanner>
        </routers>
    </admin>
    
</config>